body{
    background-image: url("./img/BG.jpg");
    width: 1100px;
    margin: auto;
    
}
h1{
	text-align: center;
	color: lightgoldenrodyellow;
	font-size: 50px;
	background-image: url("./img/B_G.jpg" );
	padding: 20px;
	text-shadow: 10px 5px 6px black;
	box-shadow: 15px 10px 20px 0px lightslategray;
	
}


h2{
   
    text-align: center;
	font-size: 30px;
	color: lightgoldenrodyellow;
	text-shadow: 5px 5px 6px black
}

#auswahlBereich {
	display: flex;
	justify-content: center;
}

.teil {
	display: flex;
	flex-direction: column;
	margin: 15px;
	box-shadow: 10px 10px 5px 0px darkslategray;
	border: 1px solid rgb(43, 87, 41);
	background-color: rgb(55, 116, 40);
}

.teil span {
	text-align: center;
	font-style: italic;
	margin: 2px 0;
	font-size: larger;
}

.teil button {
	max-width: 100px;
	align-self: center;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: medium;
}

.teil image {
    width: 300px;
    height: 500px;
}