body {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
    background-image: url("./img/Hintergrund.jpg");
}
header {
    background: url("./img/wp.jpg" ) 0.1px ;
    margin-top: 0px;
}
h1 {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: rgb(84, 4, 83) 1px 1px 5px ;
    padding: 0px;
    margin: 0cm;
}
h3{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    text-shadow: rgb(148, 119, 148) 1px 1px 5px ;
}
#unterschrift {
    margin: 0px;
    padding-bottom: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    text-shadow: rgb(84, 4, 83) 1px 1px 2.5px ;
}

#Navigation > ul {
    text-align: right;
    list-style: none;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    margin: 0;

   
}
#button > ul {
    list-style: none;
    padding: 50px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 32%;

   
}

li {
    color: white;
    text-align: center;
    display: inline-table;
    width: 140px;
    padding: 5px;
    border: 1px solid white;
    margin-bottom: 10px;
    word-spacing: 1cm;
    border-radius: 2px;
    font-weight: bolder;
    background-color: rgba(78, 75, 75, 0.397);
    
}

li > a {
    text-decoration: none;
}

li:hover {
    background-color: rgba(173, 41, 206, 0.514);
}


.aktuell{
    background-color: thistle ;
    color: black;
    border-radius: 2px;
}

#Navigation{
    position: sticky;
    top: 0px;
    height: 1.5cm;
    z-index: 30;
    display: line;
}
#button{
    position: sticky;
    text-align: center;
    display: block;
}
#button > ul > li {
    color: white;
    text-align: center;
    display: block;
    width: 400px;
    padding: 30px;
    border: 1px solid white;
    margin-bottom: 10px;
    word-spacing: 1cm;
    border-radius: 2px;
    font-weight: bolder;
    background-color: rgba(137, 98, 145, 0.397);
    list-style: none;
    font-size: 20px;
}
#button > ul > li:hover {
    background-color: rgba(70, 24, 81, 0.514);
}

.formular input[type="text"],
.formular input[type="password"] {
    font-family: sans-serif;
    color: black;
    background: white;
    display: inline;
    margin: 20px auto;
    border: 1px solid grey;
    padding: 10px 10px;
    width: 250px;

   
}

.formular input[type="text"]:focus,
.formular input[type="password"]:focus{
    padding: 10px 10px;
    border: 2px solid lavender;
}
#zusatzZutat input {
    display: block;
    padding: 10px 10px;
    margin-top: 15px;
    margin-left: 615px;
    text-align: center;
    width: 250px;
    
    

}

.formular textarea {
    font-family: sans-serif;
    color: black;
    background: white;
    display: block;
    margin: 20px auto;
    border: 1px solid grey;
    padding: 10px;
    outline: none;
    transition: 250ms;
    height: 200px;
    width: 600px;
    resize: none;
}

.formular textarea:focus {
    border: 2px solid lavender;
    width: 610px;
}

.formular input[type="fertig"]:hover {
    background-color: blue;
    border: 1px solid white;
}

.Bild {
    width: 350px;
    height: 300px;
    display: inline;
    padding: 50px;
}


#gri1{
font-size: 20px;

margin-left: 10px;
padding-top:350px ;
padding-right: 210px;
padding-left: 150px;
color:black;
text-decoration: none;
display: inline;



}

#gri2{
    font-size: 20px;
  
    margin-left: 90px;
    padding-top:350px ;
    padding-right: 200px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline;
   
    
    }
#gri3{
    font-size: 20px;
    margin-left: 100px;
    padding-top:350px ;
    padding-right: 200px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline; 

    }
.gerRez{
    width: 350px;
    height: 300px;
    float: left;
}

table{
    padding: 0px;
    background-color:lavender;
    width: 600px; 
    margin-left: 500px;
}
th, td{
    border: 1px solid black;
    padding: 15px;
}
h4{
   text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: lightskyblue 2px 3px 2px;
}
#pasZu{
    float: left;
    margin-left: 50px;
    font-size: 20px;
    font-weight: bolder;
}
#zuPas{
    float: left;
    margin-left: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
}
#zuPas1{
    float: left;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
}
#zuPas2{
    float: left;
    margin-left: 350px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
}
#gri4{
    font-size: 20px;
    
    margin-left: 10px;
    padding-top:350px ;
    padding-right: 210px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline;
    
    
    
    }
#gri5{
    font-size: 20px;

    margin-left: 90px;
    padding-top:350px ;
    padding-right: 200px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline;


}
#gri6{
    font-size: 20px;
    margin-left: 100px;
    padding-top:350px ;
    padding-right: 200px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline; 
 }

#gri7{
    font-size: 20px;           
    margin-left: 10px;
    padding-top:350px ;
    padding-right: 210px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline;
            
}
            
#gri8{
    font-size: 20px;
    margin-left: 90px;
    padding-top:350px ;
    padding-right: 200px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline;
                               
 }
#gri9{
    font-size: 20px;
    margin-left: 100px;
    padding-top:350px ;
    padding-right: 200px;
    padding-left: 150px;
    color:black;
    text-decoration: none;
    display: inline; 

            
 }


@media screen and (max-width: 1023px){
    body{
        display: block;
        position: relative;
    }
    .Bild{
        width: 250px;
        height: 200px;
        display: inline;
        padding: 10px;
        margin-top: 50px;
    }
    #button > ul {
        margin-left: 13%;

    }

    #button > ul > li {
        width: 400px;   
    }

    .formular textarea {
        height: 200px;
        width: 600px;

    }
    
    #gri1{
        font-size: 20px;
        margin-left: 125px;
        margin-top: -475px;
        padding-top:200px ;
        padding-right: 100px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue ;
        float:left;
        
        
        
    }
        
    #gri2{
        
        font-size: 20px;
        margin-right: 120px;
        margin-top: -475px;
        padding-top:200px ;
        padding-right: 110px;
        padding-left: 45px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float: right;
           
            
    }
    #gri3{
        font-size: 20px;
        margin-left: 250px;
        margin-top: -200px;
        padding-top:200px ;
        padding-right: 110px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block; 
        background-color: slateblue;
        float: left;
    }
    #gri4{
        font-size: 20px;
        margin-left: 125px;
        margin-top: -475px;
        padding-top:200px ;
        padding-right: 100px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float:left;
        
        
        
    }
        
    #gri5{
        
        font-size: 20px;
        margin-right: 120px;
        margin-top: -475px;
        padding-top:200px ;
        padding-right: 110px;
        padding-left: 45px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float: right;
           
            
    }
    #gri6{
        font-size: 20px;
        margin-left: 250px;
        margin-top: -200px;
        padding-top:200px ;
        padding-right: 110px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block; 
        background-color: slateblue;
        float: left;
    }
    
    #gri7{
        font-size: 20px;
        margin-left: 125px;
        margin-top: -475px;
        padding-top:200px ;
        padding-right: 100px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float:left;
        
        
        
    }
        
    #gri8{
        
        font-size: 20px;
        margin-right: 120px;
        margin-top: -475px;
        padding-top:200px ;
        padding-right: 110px;
        padding-left: 45px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float: right;
           
            
    }
    #gri9{
        font-size: 20px;
        margin-left: 250px;
        margin-top: -200px;
        padding-top:200px ;
        padding-right: 110px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block; 
        background-color: slateblue;
        float: left;
    }
     
     
    .gerRez{
        width: 250px;
        height: 200px;
        float: left;
    }
    
    table{
        padding: 0px;
        background-color:lavender;
        width: 400px; 
        margin-left: 300px;
    }

    h4{
       margin-left: 50px;
    }
    #pasZu{
        float: left;
        margin-left: 50px;
        font-size: 20px;
        font-weight: bolder;
    }
    #zuPas{
        float: left;
        margin-top: -20px;
        margin-left: 250px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bolder;
    }
    #zuPas1{
        float: left;
        margin-top: -50px;
        margin-left: 150px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bolder;
    }
    #zuPas2{
        float: left;
        margin-top: -50px;
        margin-left: 250px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bolder;
    }
    
  
  
    
    
   
}
@media screen and (max-width: 765px) {
    body{
        width: auto;
        display: block;
    }
    .Formular li{
        width:50%;
        height: 50px;
        margin-top: 30px;
    }
    li{
        display: inline;
    }
    #Navigation{
        width: 100%;

    }
    li>a{
        border-radius: 0px;
        text-align: center;
    
    }
    #button > ul {
        padding: 30px;
        margin-left: 3%;
    
       
    }
    #button > ul > li {
        width: 200px;
        
    }
    .formular textarea {
        height: 200px;
        width: 300px;

    }
    
    #gri1{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -750px;
        padding-top:200px ;
        padding-right: 125px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float:left;
        
    }
        
    #gri2{
        
        font-size: 20px;
        margin-left: 50px;
        margin-top: -480px;
        padding-top:190px ;
        padding-right: 125px;
        padding-left: 90px;
        color:black;
        text-decoration: none;
        display: block;
        background-color:slateblue;
        float: left;
           
            
    }
    #gri3{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -200px;
        padding-top:200px ;
        padding-right: 125px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block; 
        background-color:slateblue;
        float: left;
    }
    #gri4{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -750px;
        padding-top:200px ;
        padding-right: 125px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float:left;
        
    }
        
    #gri5{
        
        font-size: 20px;
        margin-left: 50px;
        margin-top: -480px;
        padding-top:190px ;
        padding-right: 125px;
        padding-left: 90px;
        color:black;
        text-decoration: none;
        display: block;
        background-color:slateblue;
        float: left;
           
            
    }
    #gri6{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -200px;
        padding-top:200px ;
        padding-right: 125px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block; 
        background-color: slateblue;
        float: left;
    }
    #gri7{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -750px;
        padding-top:200px ;
        padding-right: 125px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float:left;
        
    }
        
    #gri8{
        
        font-size: 20px;
        margin-left: 50px;
        margin-top: -480px;
        padding-top:190px ;
        padding-right: 125px;
        padding-left: 90px;
        color:black;
        text-decoration: none;
        display: block;
        background-color: slateblue;
        float: left;
           
            
    }
    #gri9{
        font-size: 20px;
        margin-left: 50px;
        margin-top: -200px;
        padding-top:200px ;
        padding-right: 125px;
        padding-left: 50px;
        color:black;
        text-decoration: none;
        display: block; 
        background-color: slateblue;
        float: left;
    }
    .gerRez{
        width:100%;
        height: 225px;
        float: left;
    }
    
    table{
        width: 100%; 
        margin-left: 0px;
    }
    #pasZu{
        float: left;
        margin-left: 50px;
        font-size: 20px;
        font-weight: bolder;
    }
    #zuPas{
        float: left;
        margin-top: 0px;
        margin-left: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bolder;
    }
    #zuPas1{
        float: left;
        margin-top: 0px;
        margin-left: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bolder;
    }
    #zuPas2{
        float: left;
        margin-top: 0px;
        margin-left: 0px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        font-weight: bolder;
    }
    

}
