body{
    background-image: url("bg.png");
    width: 800px;
    margin: auto;
    
}
header{
    background: url("Dreieck.png") top center no-repeat ;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#Navigation{
    position: sticky;
    top: 0px;
    height: 1.5cm;
    z-index: 30;
}
ul + li{
    display: line
    
}
li>a{
    background-color:darkgrey;
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, "sans-serif";
    float: right;
    border-right: 1px solid white;
    padding: 15px;
    border-radius: 5px;

}
.active{
    background-color:brown;
}
.active:hover{
    background-color: chocolate;
}
.hier:hover{
    background-color: chocolate;
}
h1{
    margin: 20px;
    padding: 20px;
    position: sticky;
    text-align: center;
    font-family: Arial, Helvetica, "sans-serif";
    font-weight: bold;
    font-style: italic;
    color: sienna;
    font-size: 70px;
    text-shadow:5px 5px 6px lightgrey;
    transition: color 4s ease-in-out 0s ;
    animation-duration: 2s;
    animation-name: showin;
    z-index: 20;
}
@keyframes showin{
    from{
        width: 150%;
    }
    to{
        margin: auto;
        width: 50%;

    }
}
p{
    font-family: Arial, Helvetica, "sans-serif";
    font-size: 30px;
    font-weight: bolder;
    color: saddlebrown;
}
i, q{
    font-family: Arial, Helvetica, "sans-serif";
}
.Bild{
    width: 800px;
}
#Foto{
    width: 150px;
    
}

table{
    padding: 0px;
    background-color: lightgrey;
    width: 600px; 
    float: right;
}
th, td{
    border: 1px solid black;
    padding: 15px;
}

.Formular{
    margin-top: 30px;
    width: 40%;
    height: 50%;
}
#Nachricht{
    width: 150%;
}
.Media li{
    list-style: none;
    margin: 10px ;
    display: inline-block;
    font-size: 45px;
    padding: 10px 10px;

}
.Media{
    left: 50%;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-top: 0%;
        width: 300%;   
    }
    to{
        margin: auto;
        width: 50%;

    }
}
.Media a{
    margin: 10px;
    padding: 10px;
    background-color: transparent;


}
.Media a:hover{
    color: brown;
}

@media screen and (max-width: 1024px){
    #Foto{
        width: 250px;
       margin: 275px;
       margin-top: 0px;
       margin-bottom: 10px;
    }
    table{
        width: 100%;
    }
    #name::before{
        content: "";
        height: 20px;
    }
    .Media a{
        background-color: rgba(221, 151, 124, 0.74);
    }
}
@media screen and (max-width: 800px) {
    body{

        background-color: goldenrod;
    }
    .Formular li{
        width:50%;
        height: 50px;
        margin-top: 30px;
    }
    li{
        display: inline;
    }
    #Navigation{
        width: 800px;
        background-color: burlywood;

    }
    li>a{
        border-radius: 0px;
        text-align: center;
    
    }
    i, q{
        font-size: 20px;
    }

}